<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295267838479-69ef9bi96nqtk7s92heoh0buicibk5m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295267838479-69ef9bi96nqtk7s92heoh0buicibk5m3</string>
	<key>API_KEY</key>
	<string>AIzaSyDFm5ZfR1VuD2jVrKDkmkFAWGwKkoKvfsU</string>
	<key>GCM_SENDER_ID</key>
	<string>295267838479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FootyFix</string>
	<key>PROJECT_ID</key>
	<string>footyfix-a895e</string>
	<key>STORAGE_BUCKET</key>
	<string>footyfix-a895e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295267838479:ios:67e252d86b5fbe4e00117a</string>
	<key>DATABASE_URL</key>
	<string>https://footyfix-a895e-default-rtdb.firebaseio.com</string>
</dict>
</plist>